CHAT_SECRET=YOUR-SUPER-SECRET
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://*:@localhost:5432/nyx_app
DIRECT_URL=postgresql://*:@localhost:5432/nyx_app?sslmode=disable
DISCORD_REPORT_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR-WEBHOOK-URL
JWT_SECRET=YOUR-JWT-SECRET
NODE_ENV=development
PORT=4000
CF_ACCOUNT_ID=YOUR-CLOUDFLARE-ACCOUNT-ID
CF_TURN_KEY_ID=YOUR-CLOUDFLARE-TURN-KEY-ID
CF_TURN_API_TOKEN=YOUR-CLOUDFLARE-TURN-API-TOKEN
R2_ACCESS_KEY_ID=YOUR-R2-ACCESS-KEY-ID
R2_ACCOUNT_ID=YOUR-R2-ACCOUNT-ID
R2_BUCKET_NAME=YOUR-R2-BUCKET-NAME
R2_PUBLIC_DOMAIN=YOUR-R2-PUBLIC-DOMAIN
R2_SECRET_ACCESS_KEY=YOUR-R2-SECRET-ACCESS-KEY
REDIS_URL="redis://127.0.0.1:6379"
TURNSTILE_SECRET_KEY=YOUR-TURNSTILE-SECRET-KEY
UPLOAD_DIR=uploads // optional if the user upload saved in localstorage, default is "uploads"
VAPID_PRIVATE_KEY=YOUR-VAPID-PRIVATE-KEY
VAPID_PUBLIC_KEY=YOUR-VAPID-PUBLIC-KEY
VAPID_SUBJECT="mailto:YOUR@MAIL.COM"
GEMINI_API_KEY=YOUR-GEMINI-API-KEY

# S3 (opsional)
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Frontend
VITE_API_URL=http://localhost:4000
VITE_WS_URL=http://localhost:4000
VITE_CHAT_SECRET=
VITE_APP_SECRET=
VITE_VAPID_PUBLIC_KEY=
INDEXNOW_API_KEY=
VITE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
