node_modules/
server/node_modules/
web/node_modules/
**/node_modules
server/prisma/migrations

dist
build
coverage
server/dist
web/dist
# Keep environment variables out of version control
.env
**/.env
*.log
**/.env.local
.env.local
.**

/generated/prisma
server/uploads/
vspostgre.session.sql
# Exclude TypeScript build info files
*.tsbuildinfo
*.sql

.gemini/
gha-creds-*.json
