node_modules
server/node_modules
web/node_modules
server/prisma/migrations

dist
build
coverage
server/dist
web/dist
# Keep environment variables out of version control
.env
*.log

/generated/prisma
*.sql